@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Header */

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: 2;
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

article img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.article-title {
    text-align: center;
}

.navbar {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.navbar p {
    font-weight: 999;
}

.navbar p span {
    color: rgb(17, 155, 51);
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 15px;
}

.topbar {
    position: static;
    background-color: #548329;
    color: white;
    text-align: center;
    padding: 50px;
    border: 20px;
}

.headtitle {
    font-size: 50px;
    margin: 0px;
}

.img {
    max-width: 100%;
    float: left;
}

.content {
    position: center;
    text-align: left;
    color: black;
    width: 30px;
}

.posts {
    background-color: #EEEEEE;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 11%;
    margin-right: 11%;
}

.grid-item {
    background-color: #f2f2f2;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000003a;
}

.grid-item h3 {
    font-size: 15px;
    color: #6d6c6c;
    text-align: center;
    padding: 5px;
    font-style: italic;
}

.grid-item a {
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

.grid-item p {
    color: #6d6c6c;
    text-align: justify;
    padding-top: 10px;
}

.grid-item img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/*Aside*/

.side-bar {
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    flex: 0.7;
    padding-right: 10%;
    background-color: #EEEEEE;
}

aside h2 {
    color: #6d6c6c;
    margin-top: 30px;
}

.aside side-posts {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.seperate-posts {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000003a;
}

.side-article-texts {
    margin-left: 10px;
}

.side-posts-whole {
    padding-top: 50px;
    display: grid;
}

aside li {
    margin-bottom: 10px;
}

aside p {
    color: #6d6c6c;
}

.clickable-link {
    color: #000;
    font-style: bolder;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

aside img {
    display: inline-table;
    margin: 0 auto;
    max-width: 100px;
}

.social-medias {
    padding: 0px;
    border: 10px;
}

.social-media-images {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #0000003a;
}

.seperate-social-images {
    max-width: 17%;
}


/*Footer*/

footer {
    background-color: rgb(24, 24, 24);
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
}

.footer-column {
    float: left;
    width: calc(100% / 3);
    padding-bottom: 20px;
}

hr {
    width: calc(100%);
}

footer p {
    text-align: left;
}

footer h2 {
    text-align: center;
    font-size: 15px;
    margin: 0px;
    padding-top: 22px;
    padding-bottom: 22px;
}